* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: $textColor;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}
.clearfix::after {
    @include clearfix;
}
.w80 {
    width: 80%;
    min-width: 1170px;
    margin: 0 auto;
}
li {
    cursor: pointer;
}
li:hover {
    opacity: $opacityHover;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $anchorColor;
}
a:hover {
    opacity: $opacityHover;
}
.btn {
    display: flex;
    align-items: center;
    border: 1px solid $btnPrimary;
    border-radius: 5px;
    font-weight: $fontWeight + 100;
    padding: 5px;
    cursor: pointer;
}
.btn.white {
    background-color: $btnSecondary;
    color: $btnPrimary;
}
.btn.white:hover {
    background-color: $btnPrimary;
    color: $btnSecondary;
}
.btn.blue {
    background-color: $btnPrimary;
    color: $btnSecondary;
}
.btn.blue:hover {
    background-color: $btnSecondary;
    color: $btnPrimary;
}
.btn, .btn:hover {
    transition: 0.3s;
}
.logo_google, .logo_slack {
    height: 20px;
    margin-right: 5px;
}

@media screen and (max-width: #{$mediaScreenHigh}) {
    .w80 {
        min-width: 95%;
    }
}