main {
    width: 100%;
}
.jumbotron {
    padding: $spacing * 1.5 0;
    background-color: $brandSecondary;
    .jumbo_text {
        width: 50%;
        float: left;
        p:first-of-type {
            margin: 10px 0 $spacing * 2.5 0;
        }
        .sign_up_btns {
            display: flex;
            align-items: center;
            margin-bottom: $spacing * 0.5;
            span {
                margin: 0 $spacing * 0.5;
            }
        }
        .email_link {
            display: inline-block;
            font-size: $fontSize * 0.8;
            cursor: pointer;
            &:hover {
                opacity: $opacityHover;
            }
            i {
                margin-left: 5px;
            }
        }
    }
}
button {
    .logo_slack {
        img {
            height: 100%;
        }
    }
}
.jumbo_img {
    width: 50%;
    float: left;
    img {
        width: 100%;
    }
}
.first {
    background-color: $brandPrimary;
    .title {
        text-align: center;
        margin-bottom: $spacing * 2;
    }
    .items {
        @include flexSpaceAround;
        .item {
            @include flexSpaceBetween;
            flex-direction: column;
            margin: 0 20px;
            width: calc(100% / 3 - 20px);
            height: 150px;
            img {
                height: 70%;
            }
            span {
                font-size: $fontSize * 0.9;
                text-align: center;
            }
        }
    }
    .rabbit {
        width: 300px;
        margin: $spacing * 5 auto;
        img {
            width: 100%;
        }
    }
    .top {
        border-bottom: 1px solid $textColor;
        margin-bottom: $spacing * 2;
    }
    .bottom {
        .final_title {
            text-align: center;
        }
    }
}
.second {
    background-color: $brandSecondary;
    .image {
        width: 50%;
    }
    .image {
        img {
            width: 100%;
        }
    }
    .description {
        width: 25%;
        p {
            margin-top: $spacing * 2;
        }
        a {
            display: inline-block;
            margin: $spacing 0;
            i {
                margin-left: 5px;
            }
        }
    }
    .des_img {
        width: 100%;
        img {
            width: 100%;
        }
    }
    
}
.first, .second {
    padding: $spacing * 2 0;
    width: 100%;
}

@for $i from 1 through 4 {
    .row#{$i} {
        clear: both;
        padding: $spacing * 2 0;
        > div {
            float: left;
        }
    }
    @if($i % 2 == 0) {
        .row#{$i} {
            .description {
                margin-left: 25%;
            }
        }
    } @else {
        .row#{$i} {
            .description {
                margin-right: 25%;
            }
        }
    }
}