footer {
    background-color: $brandSecondary;
    padding: $spacing * 3 0;
    .w80 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .logo {
        width: 25%;
        display: flex;
        img {
            height: 60px;
            margin-right: $spacing * 0.5;
        }
        .description {
            span {
                color: $btnPrimary;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.links {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    > div {
        width: calc(100% / 5);
    }
    h3 {
        margin-bottom: $spacing;
    }
    li {
        line-height: $lineHeight * 1.5;
        font-size: $fontSize * 0.8;
    }
}

@media screen and (max-width: #{$mediaScreenMedium}) {
    footer {
        .w80 {
            justify-content: center;
        }
        .logo {
            width: 100%;
            text-align: center;
            margin-bottom: $spacing * 2;
        }
        .links {
            padding: $spacing;
            width: 100%;
            > div {
                width: calc(100% / 3);
                text-align: center;
                margin-bottom: $spacing;
            }
        }
    }
}
@media screen and (max-width: #{$mediaScreenLow}) {
    footer {
        .links {
            > div {
                width: 100%;
            }
        }
    }
}