header {
    width: 100%;
    height: $headerHeight;
    background-color: $brandSecondary;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    .w80 {
        height: 100%;
        border-bottom: 1px solid $textColor;
        @include flexSpaceBetween;
    }
    .logo {
        height: 30px;
    }
    .hamburger {
        display: none;
        font-size: $fontSize * 2;
        cursor: pointer;
    }
}
.logo {
    img {
        height: 100%;
        cursor: pointer;
    }
}
nav {
    display: flex;
    align-items: center;
    li {
        display: inline-block;
        margin: 0 $spacing * 0.5;
        i {
            font-size: $fontSize * 0.8;
            margin-left: 5px;
        }
    }
    button {
        margin-left: $spacing * 0.5;
    }
}
button {
    .logo_google {
        img {
            height: 100%;
        }
    }
}

@media screen and (max-width: #{$mediaScreenMedium}) {
    header {
        .hamburger {
            display: block;
        }
    }
    nav {
        display: none;
    }
}