$brandPrimary: #ffe7d2;
$brandSecondary: white;
$textColor: #58402c;
$anchorColor: #2c4792;
$btnPrimary: #2c4792;
$btnSecondary: white;
$fontFamily: 'Roboto', sans-serif;
$fontSize: 16px;
$fontWeight: 500;
$spacing: 20px;
$lineHeight: 1.5;