$brandPrimary: #7f14d4;
$brandSecondary: white;
$textColor: #3e14e9;
$anchorColor: #0414b3;
$btnPrimary: #0e14ee;
$btnSecondary: white;
$fontFamily: 'Roboto', sans-serif;
$fontSize: 16px;
$fontWeight: 500;
$spacing: 20px;
$lineHeight: 1.5;
$opacityHover: 0.8;
$headerHeight: 70px;
$mediaScreenHigh: 1200px;
$mediaScreenMedium: 850px;
$mediaScreenLow: 500px;

